package ${class.packageName}.service.impl;

import ${class.packageName}.dao.${class.className}Mapper;
import ${class.packageName}.domain.${class.className};
import ${class.packageName}.common.page.Page;
import ${class.packageName}.service.${class.className}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.HashMap;
import java.util.Map;
import java.util.List;

@Service("${class.classNameLower}Service")
public class ${class.className}ServiceImpl implements ${class.className}Service {

    private static final Logger logger = LoggerFactory.getLogger(${class.className}ServiceImpl.class);

    @Autowired
    private ${class.className}Mapper ${class.classNameLower}Mapper;


    public Page<${class.className}> query${class.className}Page(Integer currentPage, Integer pageSize, Map<String, Object> params) {

        Page<${class.className}> page = null;

        try {
            //设置页数。
            page = new Page<${class.className}>(currentPage, pageSize);
            Integer size = ${class.classNameLower}Mapper.selectListCount(params);
            if (size == null || size <= 0) {
                return page;
            }
            page.setTotalCount(size);
            params.put("startIndex", page.getStartIndex());
            params.put("pageSize", page.getPageSize());
            //排序
            params.put("orderField", "id");
            params.put("orderFieldType", "desc");
            page.setResult(${class.classNameLower}Mapper.selectList(params));

        } catch (Exception e) {
            logger.error(e.getMessage(), e);
        }
        return page;
    }

    public ${class.className} query${class.className}ById(Long id) {
        ${class.className} ${class.classNameLower} = null;
        try {

            ${class.classNameLower} = ${class.classNameLower}Mapper.selectById(id);

        } catch (Exception e) {
            logger.error(e.getMessage(), e);
        }
        return ${class.classNameLower};
    }

    public List<${class.className}> query${class.className}(Map<String, Object> params) {
        List<${class.className}> list = null;
        try {
            list = ${class.classNameLower}Mapper.selectList(params);

        } catch (Exception e) {
            logger.error(e.getMessage(), e);
        }
        return list;
    }

    public long delete${class.className}(Long id) {
        long rows = 0;
        try {

            rows = ${class.classNameLower}Mapper.delete(id);

        } catch (Exception e) {
            logger.error(e.getMessage(), e);
        }
        return rows;
    }

    public long save${class.className}(${class.className} ${class.classNameLower}) {
        long rows = 0;
        try {
            if (${class.classNameLower} != null) {
                if (${class.classNameLower}.getId() != null && ${class.classNameLower}.getId() != 0) {
                    //更新
                    rows = ${class.classNameLower}Mapper.update(${class.classNameLower});
                } else {
                    //插入
                    rows = ${class.classNameLower}Mapper.save(${class.classNameLower});
                }
            }
        } catch (Exception e) {
            logger.error(e.getMessage(), e);
        }
        return rows;
    }
}